title: Laura's Blog
name: Laura Bauman
user_description: West Point cadet --> Stanford undergrad transfer student
profile_pic: /assets/img/profile.jpg
favicon: /assets/img/favicon.png
copyright_name: 2020 Laura Bauman. Template design by Raghuveer S.
baseurl: "/" # the subpath of your site, e.g. /blog
url: "laurab.blog" # the base hostname & protocol for your site, e.g. http://example.com
encoding: utf-8

# Build settings
theme: null
plugins:
  - jekyll-feed 
  - jekyll-sitemap 

markdown: kramdown

kramdown:
  input: GFM
  hard_wrap: false
  math_engine: mathjax
  smart_quotes: ["apos", "apos", "quot", "quot"]
  syntax_highlighter: rouge

sass:
  style: compressed

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      permalink: /posts/:title
      content-type: post
